
body {
    margin: 0;
    font-family: "Antic", sans-serif;
 
      }
ul{
    list-style: none;
    display: flex;
    
}
li{
    margin: 0 15px
}      

#nav {
    margin: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #0c0801;
    
  }

  img{
    width: 100%;
    height: auto;
    background-size: 100% 100%;
  }

.hero_image{
    height: 1200px;
    width: 100%;
    position: relative;  
}
.hero_text{
   text-align: start;
   position: absolute;
   top: 50%;
   left: 20%;
   transform: translate(-50%,-50%);
   color: #000;
}

pre{
    margin: 50%;
    text-transform: center;
    position:relative;
    word-break: break-all;
    left: 15%;
   }
