body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(179.35deg, rgba(237, 204, 215, 0.96) 18.36%, rgba(235, 201, 215, 0.96) 26.27%, rgba(231, 196, 216, 0.96) 45.55%, rgba(228, 193, 217, 0.96) 50.99%, rgba(224, 191, 221, 0.96) 58.9%, rgba(222, 190, 223, 0.96) 67.31%, rgba(220, 189, 225, 0.96) 78.18%, rgba(216, 187, 228, 0.96) 87.08%, rgba(211, 185, 232, 0.96) 91.53%, rgba(204, 176, 236, 0.96) 99.44%); /* cor de fundo */
}

.karaoke-container {
    text-align: center; /* Alinha o conteúdo dentro do contêiner */
}

.karaoke-video {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.karaoke-controls button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
